<!DOCTYPE html>
<h1>Lista de cidades</h1>
<div>
  <!-- <button type="button" (click)="adicionarCidade">Adicionar nova cidade</button> -->
  <!-- <button type="button" routerLink= "/formulario-cidade-td">
    Adicionar Nova Cidade
  </button><br /><br />
  <button type="button" (click)="irAdicionarCidade()">
    Adicionar Nova Cidade
  </button><br /><br /> -->
  <button type = "button" (click)="irAdicionarCidade()">Adicionar Nova Cidade</button><br><br>
  <button type = "button" (click)="limparDados()">Limpar Dados</button>
</div>

<div>
  <ul>
    @for (cidade of cidades; track $index) {
        <app-minha-lista-item [cidade]="cidade"></app-minha-lista-item>
    }
  </ul>
</div>
